.card {
	width: 980px;
	height: 140px;
	background: linear-gradient(
		45deg,
		#444 25%,
		#444 25%,
		#fff 25%,
		#fff 50%,
		#444 50%,
		#444 75%,
		#444 75%,
		#444 100%
	);
	animation: animate_6810 15s linear infinite;
	transition: 0.3s;
	background-size: 60px 60px;
	border-radius: 20px;
	overflow: visible;
	border-radius: 20px;
	padding: 3px;
}

@keyframes animate_6810 {
	0% {
		background-position: 0px;
	}

	100% {
		background-position: 1000px;
	}
}

.container__info-icon {
	transition: transform 0.6s ease;
}

.container__info-text {
	transition: transform 0.6s ease;
}

.card:hover .container__info-icon {
	transform: scale(1.4) rotate(180deg);
}

.card:hover .newIdea {
	transform: scale(1.2);
}

.card__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 17px;
	padding: 40px;
	position: absolute;
	background: #d2dbee;
	box-shadow: inset 9.91px 9.91px 15px #bfc7d9,
		inset -9.91px -9.91px 15px #e5efff;
	border-style: none;
	width: 72%;
	height: 21.1%;
	border-radius: 20px;
	transition: 0.3s;
}

.container__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 19.5px 0 19.5px;
}

.card__container-text {
	font-size: 20px;
	color: #373232eb;
	font-weight: 600;
	font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	padding: 0 20px 0 20px;
}

/* Modal signIn */

.pizzaIcon {
	font-size: 60px;
	transform: rotate(19deg);
	position: absolute;
	top: -31px;
	right: -19px;
}

.marcianoIcon {
	font-size: 86px;
	transform: rotate(6deg);
	position: absolute;
	bottom: 52px;
	left: -48px;
}

.reactLogo {
	font-size: 113px;
	position: absolute;
	top: 211px;
	right: 15px;
	animation: animate_6820 5s linear infinite;
	transition: 0.3 s;
}

@keyframes animate_6820 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

.modal__container-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.container__title {
	color: #000;
	padding-top: 4.875rem;
	padding-bottom: 3.5rem;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	font-family: var(--font-family-inter);
	text-align: center;
}

.modal__container-button {
	display: flex;
	justify-content: center;
	margin: 0 100px 0 100px;
}

.container__button-singin {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: #e8e8e8;
	--button_outline_color: #000000;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
}

/* buttonSingInModal */

.button__link {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
	text-align: center;
}

.container__button-singin:hover .button__link {
	transform: translateY(-0.33em);
}

.container__button-singin:active .button__link {
	transform: translateY(0);
}

.container__title {
	color: #000;
	padding-top: 3.875rem;
	padding-bottom: 2.5rem;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	font-family: var(--font-family-inter);
	text-align: center;
}

.reactLogoForm {
	font-size: 113px;
	position: absolute;
	top: 360px;
	right: 15px;
	animation: animate_6820 5s linear infinite;
	transition: 0.3 s;
}

.container__title-after {
	color: #000;
	padding-top: 4.875rem;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	font-family: var(--font-family-inter);
	text-align: center;
}

.content__svg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 30px;
	align-content: center;
	justify-content: flex-start;
	margin: 0 100px 0 100px;
}

.textFiled {
	width: 780px;
	height: 200px;
	resize: none;
	border: 1px solid rgb(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 15px;
}

.textFiled:focus {
	outline: none;
}
