@import url(./reset/normalize.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--body: rgb(25, 25, 25);
	--body-radial: radial-gradient(
		138.12% 138.12% at 50% -38.12%,
		#7e7e7e 3.4%,
		#414141 5.25%,
		#3a3a3a 18.29%,
		#141313 38.39%,
		#141414 38.54%,
		#000000 51.55%
	);
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--textRainbow: linear-gradient(
		269.99deg,
		#eaa879 20.31%,
		#e5c8c8 48.19%,
		#d7cbe7 59.23%,
		#9691e0 67.55%
	);
	--textRainbowButton: linear-gradient(
		270deg,
		#eaa879 -5.47%,
		#e5c8c8 24.41%,
		#d7cbe7 61.79%,
		#b3aef5 102.86%
	);
	--grisPrimary: linear-gradient(
		360deg,
		rgba(228, 228, 231, 0) -94.51%,
		#e4e4e7 56.08%,
		rgba(228, 228, 231, 0) 192.85%
	);
	--grisButton: linear-gradient(
		360deg,
		rgba(236, 232, 232, 0) -327.08%,
		#343434 47.45%,
		rgba(253, 253, 253, 0) 388%
	);
	--textReversedRainbowButton: linear-gradient(
		160deg,
		#eaa879 -5.47%,
		#e5c8c8 24.41%,
		#d7cbe7 61.79%,
		#b3aef5 102.86%
	);
	--colorArrowRight: #666666;
	--textFooterRight: linear-gradient(
		360deg,
		rgba(63, 63, 82, 0) -195.83%,
		#9f9fad 45.65%,
		rgba(48, 48, 52, 0) 308.93%
	);
	--textFooterLeft: linear-gradient(
		360deg,
		rgba(123, 123, 136, 0) -195.83%,
		#9898a3 41.93%,
		rgba(48, 48, 52, 0) 308.93%
	);
	--colorIconsRedes: #9f9fad;
	--color-logo: linear-gradient(
		180.53deg,
		rgba(228, 228, 231, 0) -5.85%,
		#e4e4e7 76.97%
	);
	--subtitleColorModal: linear-gradient(
		360deg,
		rgba(123, 123, 163, 0) -195.83%,
		#9f9fad 45.65%,
		rgba(48, 48, 52, 0) 308.93%
	);
	--font-family-inter: 'Inter', sans-serif;
	--font-family-outfit: 'Outfit', sans-serif;
	--font-family-open-sans: 'Open Sans', sans-serif;

	/* z-index scale */
	--zIndex-1: 1;
	--zIndex-2: 2;
	--zIndex-3: 3;
	--zIndex-4: 4;
	--zIndex-5: 5;
	--zIndex-6: 6;
	--zIndex-7: 7;
	--zIndex-8: 8;
	--zIndex-9: 9;
	--zIndex-10: 10;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: inline-block;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--body);
	font-family: 'Source Sans Pro', sans-serif;
}

body.modal-open {
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 0.625rem;
	background: rgb(25, 25, 25);
}

body::-webkit-scrollbar-thumb {
	background: #aca7a7;
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #7e7e7e;
	border-radius: 8px;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('/fonts/sf-pro-text.woff2') format('woff2'),
		url('/fonts/sf-pro-text.woff') format('woff'),
		url('/fonts/sf-pro-text.ttf') format('ttf');
}
