/* Styles Navbar */
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	background: transparent;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	position: fixed;
	top: 0;
	z-index: var(--zIndex-9);
	padding: 1.125rem 2rem;
}

.nav__content-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.585rem;
}

.content__logo-text {
	color: rgb(255, 255, 255);
	font-family: 'Inter variable', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
	cursor: default;
}

.nav__content-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3.75rem;
}

.content__buttons-star-github {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
}

.content__buttons-star-github:hover {
	color: rgb(178, 178, 178);
}

.content__buttons-singout {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.content__buttons-singout:hover {
	color: rgb(178, 178, 178);
}

.content__buttons-singin {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.content__buttons-singin:hover {
	color: rgb(178, 178, 178);
}

.content__buttons-singup {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.content__buttons-singup:hover {
	color: rgb(178, 178, 178);
}

/* DarkNav */

.DarkModeSignIn {
	transition: color 200ms ease 0s;
}

.DarkModeWiseIndie {
	color: rgb(255, 255, 255);
}

.DarkModeSignIn {
	font-family: inherit;
	cursor: pointer;
	position: relative;
	border: none;
	background: none;
	text-transform: uppercase;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: color;
}

.DarkModeSignIn:focus,
.DarkModeSignIn:hover {
	color: #fff;
}

.DarkModeSignIn:focus:after,
.DarkModeSignIn:hover:after {
	width: 100%;
	left: 0%;
}

.DarkModeSignIn:after {
	content: '';
	pointer-events: none;
	bottom: -2px;
	left: 50%;
	position: absolute;
	width: 0%;
	height: 5px;
	background-color: #fff;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: width, left;
}

/* LightNav */

.navbar.fixed {
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(30px);
	transition: background 200ms ease 0s, padding 400ms ease-in-out 0s;
}

.navbar.fixed .lightModeStar {
	/* transition: color 0.5s cubic-bezier(0.4, 0, 1, 1);
	color: rgb(117 111 111 / 80%); */
	color: rgb(127, 127, 127);
	transition: color 200ms ease 0s;
}

.navbar.fixed .lightModeStar:hover {
	color: rgb(25, 25, 25);
}

.navbar.fixed .lightModeSignIn {
	/* transition: color 0.5s cubic-bezier(0.4, 0, 1, 1);
	color: rgb(117 111 111 / 80%); */
	color: rgb(127, 127, 127);
	transition: color 200ms ease 0s;
}

.navbar.fixed .lightModeSignIn:hover {
	color: rgb(25, 25, 25);
}

.navbar.fixed .LightModeWiseIndie {
	color: rgb(127, 127, 127);
}

.lightModeSignIn {
	font-family: inherit;
	cursor: pointer;
	position: relative;
	border: none;
	background: none;
	text-transform: uppercase;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: color;
}

.lightModeSignIn:focus,
.lightModeSignIn:hover {
	color: #fff;
}

.lightModeSignIn:focus:after,
.lightModeSignIn:hover:after {
	width: 100%;
	left: 0%;
}

.lightModeSignIn:after {
	content: '';
	pointer-events: none;
	bottom: -2px;
	left: 50%;
	position: absolute;
	width: 0%;
	height: 5px;
	background-color: #000;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: width, left;
}

/* Nav Menu Hamburguesa */

.content__hamburguesa {
	display: none;
}

.hamburguesa__icon {
	font-size: 2em;
	color: rgb(255, 255, 255);
}

.menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	z-index: var(--zIndex-10);
	backdrop-filter: blur(30px);
}

.menu__content {
	display: flex;
	flex-direction: column;
	background: rgb(25, 25, 25);
	transition: transform 0.5s ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(100%);
	width: 25rem;
	max-width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: var(--zIndex-10);
}

.menu__content-close {
	transform: none;
	-webkit-transform: none;
	min-height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: var(--zIndex-10);
}

.content__box-header {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem;
}

.box__icon {
	color: #fff;
	background-color: transparent;
	border: none;
	line-height: 20px;
	font-size: 15px;
	cursor: pointer;
	font-family: var(--font-family-inter);
	transition: transform 0.5s ease;
}

.box__icon:hover {
	transform: rotate(180deg) scale(1.5);
}

.box__logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.content__box-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	height: 100%;
	padding: 1rem 1rem;
}

.box__signin {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.box__signup {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.box__GH {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
}

.box__signout {
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: var(--font-family-inter);
	line-height: 38px;
	letter-spacing: 0.3em;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.box__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.4rem;
	padding: 1rem 0;
}

.content__link {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.line {
	width: 100%;
	border: 1px solid #fffffa;
	color: inherit;
	margin: 1rem 0;
	opacity: 0.25;
}

.menu-disabled {
	display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
	.nav__content-buttons {
		display: none;
		flex-direction: row;
		align-items: center;
		gap: 3.75rem;
	}

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding: 2.125rem 2rem;
	}

	.content__hamburguesa {
		display: block;
	}
}

@media screen and (max-width: 320px) {
	.content__logo-text {
		color: rgb(255, 255, 255);
		font-family: 'Inter variable', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 1.6rem;
		line-height: 1.875rem;
		text-align: center;
		cursor: default;
	}
}
