/* Botton Open Source */

.right-arrow {
	transition: transform 0.2s ease-in-out;
}

.transitionColorText {
	transition: background-image 0.4s ease-in-out;
}

/* Borde Gradient de Boton Open Source */

.borderGrandient {
	--border-radius: 15px;
	--border-width: 2px;
	appearance: none;
	position: relative;
	padding: 1em 2em;
	border: 0;
	background-color: #000;
	font-family: 'Roboto', Arial, 'Segoe UI', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	z-index: 5;
}

.borderGrandient::after {
	--m-i: linear-gradient(#000, #000);
	--m-o: content-box, padding-box;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 229px;
	height: 34px;
	padding: var(--border-width);
	border-radius: var(--border-radius);
	background-image: var(--textRainbowButton);
	-webkit-mask-image: var(--m-i), var(--m-i);
	mask-image: var(--m-i), var(--m-i);
	-webkit-mask-origin: var(--m-o);
	mask-origin: var(--m-o);
	-webkit-mask-clip: var(--m-o);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
	filter: hue-rotate(0);
	animation: rotate-hue linear 500ms infinite;
	animation-play-state: paused;
}

.borderGrandient:hover::after {
	animation-play-state: running;
}

@keyframes rotate-hue {
	to {
		filter: hue-rotate(1turn);
	}
}

button,
.borderGrandient::after {
	box-sizing: border-box;
}

.borderGrandient:active {
	--border-width: 5px;
}

